<div class="auth-main">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <div class="auth-header">
        <a href="javascript:"><img src="assets/images/logo-dark.svg" alt="logo" /></a>
      </div>
      <div class="card my-5">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-end mb-4">
            <h3 class="mb-0"><b>Σύνδεση</b></h3>
            <a [routerLink]="['/register']" class="link-primary">Δεν έχετε λογαριασμό;</a>
          </div>
          <div class="form-group mb-3">
            <label class="form-label" for="email">Διεύθυνση Email</label>
            <input type="email" class="form-control" id="email" placeholder="info@BuildingManager.com" />
          </div>
          <div class="form-group mb-3">
            <label class="form-label" for="password">Κωδικός</label>
            <input type="password" class="form-control" id="password" placeholder="Κωδικός" />
          </div>
          <div class="d-flex mt-1 justify-content-between">
            <div class="form-check">
              <input class="form-check-input input-primary" type="checkbox" id="customCheckc1" checked="" />
              <label class="form-check-label text-muted" for="customCheckc1">Να με θυμάσαι</label>
            </div>
            <h5 class="text-secondary f-w-400"><a href="javascript:">Ξεχάσατε τον κωδικό;</a></h5>
          </div>
          <div class="d-grid mt-4">
            <button  (click)="login()" type="button" class="btn btn-primary">Σύνδεση</button>
          </div>
          <div class="saprator mt-3">
            <span>Σύνδεση με</span>
          </div>
          <div class="row">
            @for (item of SignInOptions; track item) {
              <div class="col-4">
                <div class="d-grid">
                  <button type="button" class="btn mt-2 btn-light-primary bg-light text-muted">
                    <img src="{{ item.image }}" alt="google img" />
                    <span class="d-none d-sm-inline-block">{{ item.name }}</span>
                  </button>
                </div>
              </div>
            }
          </div>
        </div>
      </div>
      <div class="auth-footer row">
        <div class="col my-1">
          <p class="m-0">
            Copyright ©
            <a href="https://codedthemes.com/" target="_blank">Building Manager</a>
          </p>
        </div>
        <div class="col-auto my-1">
          <ul class="list-inline footer-link mb-0">
            <li class="list-inline-item"><a href="https://codedthemes.com/" target="_blank">Αρχική</a></li>
            <li class="list-inline-item"><a href="https://codedthemes.com/privacy-policy/" target="_blank">Privacy Policy</a></li>
            <li class="list-inline-item"><a href="https://codedthemes.support-hub.io/" target="_blank">Επικοινωνία</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
